* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  /* font-family: "Poppins", sans-serif; */
  background-color: #e5e5e5;
}

/* Informar a fonte diretamente nos elementos do form, pois só no "body" da aplicação não garante a inserção! */
body,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

/* pseudo elemento que permite a criação de elementos pelo CSS. No caso, antes do body. */
body::before {
  content: ""; /* obrigatório quando selecionamos o pseudo elemento */
  width: 100%;
  height: 368px;

  position: absolute;
  z-index: -1;
  background-color: #121214;
}

/* PAGE */
.page {
  width: 736px;
  margin: auto;
}

/* HEADER */
header {
  width: 736px; /* usamos como ref a largura do form */
  margin: auto;
  padding: 80px 0px 42px 0px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

header h1 {
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  line-height: 42px;
}

header p {
  color: #42d3ff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* FORM */
form {
  background-color: #fafafc;
  border-radius: 8px 8px 0 0;

  width: 736px;
  min-height: 300px;
  margin: auto;
  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset legend {
  font-family: "Archivo", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  padding-bottom: 16px;

  border-bottom: 1px solid #e6e6f0;
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label,
.checkbox-wrapper label {
  color: #4e4958;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  margin-bottom: 8px;
}

.input-wrapper label span {
  margin-left: 12px;

  color: #c1bccc;
  font-size: 12px;
  line-height: 20px;
}

.input-wrapper label span:hover {
  color: #706d78; /* ACESSIBILIDADE: poderia entrar em input-wrapper label span tb */
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  border-radius: 8px;
  border: 1px solid var(--Back-Lines-in-white, #e6e6f0);
  background: var(--Shapes-02, #fafafc);

  width: 608px;
  height: 56px;
  padding: 0 24px;

  color: var(--Texts-Inputs, #c1bccc);
  font-size: 16px;
  line-height: 26px;
}

.input-wrapper textarea {
  padding: 0;
  height: 168px;
}

.input-wrapper select {
  appearance: none; /* P/ excluir a setinha default */
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat; /* Sem repetição */
  background-position: right 24px top 50%;
}

.col-3 {
  display: flex;
  gap: 20px;
}

.col-3 > div:nth-child(1) {
  width: 100%;
}

.checkbox-wrapper {
  position: relative; /* Definindo essa caixa como ref p/o checkbox-wrapper input! */
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 16px;

  margin: 0;
}
/* ACESSIBILIDADE: manter a estilização default na tela */
.checkbox-wrapper input {
  /* display: none; p/ excluir estilização default. Depois isto foi substituído pelo checkbox-wrapper position relative */
  position: absolute;
  width: 24px;
  height: 24px;

  opacity: 0; /* Estilização default invisível! */
}

.checkbox-wrapper label::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;

  border-radius: 8px;
  border: 1px solid #e6e6f0;
}

/* Definições do svg transformadas em img*/
.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3024_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3024_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

/* ACESSIBILIDADE: quando estiver em foco, borda preta! */
.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}

/* FOOTER */
footer {
  background-color: #f0f0f4;
  height: 136px;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #d6d6d6;

  display: flex;
  flex-direction: column;

  padding: 40px 64px;
  margin-bottom: 100px;
}

footer .button {
  background-color: #04d361;
  height: 56px;
  border: 0;
  border-radius: 8px;

  color: #fff;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

footer .button:hover {
  background-color: #11af58;

}

/* VALIDATIONS */
/* input:invalid {
  border: 1px solid red;
} */
